@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
}

/* Menu Navegacao 1 */
.container {
    background-color:brown;
    height: 71px;
    width: 100%;
}

#img_logo {
    display: flex;
    margin-top: 16px;

    width: 40px; 
    height: 40px;
}

#menu-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    margin-top: 0;
    padding-left: 40px;
}

#lista1 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 16px;
    list-style-type: none;

    margin-top: 16px;
}

/* Menu Navegacao 2 */
.menu-lateral {
    background-color:#FFF;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 2vw;
    height: 100%;
    width: 6%;
}

a {
    color: #FFF;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    margin-top: 51px;
}

button {
    background-color: grey;
    border-radius: 15px;

    margin-top: 40px;
    height: 40px;
    width: 140px;
}

a {
    list-style-type: none;
}

footer {
    position: absolute;
    background-color: brown;
    height: 131px;
    width: 100%;
    margin-top: 1200px;
    bottom: 0;
}

.footer-containt {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 40px;
    padding-left: 20px;
}

#rede {
    position: absolute;
    width:20px; 
    height:20px;

    padding-left: 10px;
    margin-left: 20px;
}

#d-autorais {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 15px;

    padding-top: 30px;
}
