@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #333333;
  overflow-x: hidden;
  font-family: 'Poppins';
}

/* Menu Navegacao 1 */
.container {
    background-color: rgb(97, 48, 97);
    height: 71px;
    width: 100%;
}

#img_logo {
    display: flex;
    margin-top: -5px;
    margin-left: -12px;

    width: 61px; 
    height: 61px;

    padding: 10px;
}

#menu-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    margin-top: 0;
    margin-left: 40px;
}

#lista1 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 16px;
    list-style-type: none;

    padding-right: 20px;
    margin-top: 1px;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Patron';
    cursor: pointer;
    outline: none;
    font-size: 35px;
    padding-top: -4px;
    border-radius: 18px;
    text-decoration:none;
    background: none;
    transition: box-shadow 0.1s;
    color: #202020;
    border: 4px solid #202020;
    width: 120px;
    height: 56px;
    margin-top: -5px;

    padding-left: 20px;
}

button:hover {
    border: 4px solid brown;
    color: brown;
    box-shadow: 0px 0px 35px brown, 0px 0px 15px brown inset;
    text-shadow: 0px 0px 10px brown, 0px 0px 3px;
}

#botao-menu {
    text-decoration:none
}

#botao-menu {
    outline:none;
}

/* Menu Navegacao 2 */

nav {
  
  display: inline-block;border: 0px;
}

ul {
  height: 100%;
}

.menu-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 10%;
  margin-top: 0px;
  padding-left: 15px;
  
  border: 0px;
}

.icones {
  position: relative;
  
  left: 5px;
  padding-right: 10px;
  
  width: 35px;
  
  z-index: 2;
}

.lista2 {
  color: rgb(97, 48, 97);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: medium;
  list-style-type: none;
  margin-top: 20px;
  z-index: 2;
  background-color: #fff;border-radius: 10px;height: auto;padding: 2px 10px;
}

.lista2 a{
  color: rgb(97, 48, 97);
  text-decoration: none;
}

.lista2:hover {
    border: 4px solid rgb(97, 48, 97);
    color: rgb(97, 48, 97);
    box-shadow: 0px 0px 35px rgb(97, 48, 97), 0px 0px 15px rgb(97, 48, 97);
    text-shadow: 0px 0px 10px rgb(97, 48, 97), 0px 0px 3px;
}

.fundoicones {
  position: relative;
  bottom: 710px;
  width: 145px;
  height: 30.5px;
  border-radius: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 25px;
  background: #fff;
  list-style-type: none;
  z-index: 1;
}

a {
  color: #fff;
  font-family: 'Poppins';
  font-weight: bold;
  text-align: center;
  list-style-type: none;
  margin-top: 51px;
}

a {
  list-style-type: none;
}

footer {
  display: inline-block;
  
  background-color: rgb(50 26 50);
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
  align-items: center;
  bottom: 0;text-align: center;padding: 20px 0;position: relative;}

.footer-containt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  margin: 0px;
}

.footer-icons {
  display: inline-block;
  flex-direction: row;
  justify-self: center;
}

#rede {
  width: 1.5rem;
  margin-inline: 0.5rem;
}

#d-autorais {
  color: #fff;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 15px;

  padding-top: 0px;
}

/* DataBase */

.game1 {
  display: flex;
  justify-content: center;
  height: 5rem;
  margin: 10px;
}


/*ROW*/

.row{
  margin-top: 15px;
  width: 100%;
  display: inline-block;
}

.row.col{
  display: inline-block;
  width: 33%;
}
.row.col-100{
  display: inline-block;
  width: 100%;
}

.main-title{
  padding: 20px;
}
.main-title .title{
  font-weight: bold;
  font-size: 22px;
  color: purple;
}

.menu-2 {
  display: inline-block;
  justify-content: space-around;
  flex-direction: column;
  width: auto;
  margin-top: 0px;
  padding: 10px;
  border: 0px;
  text-align: center;
}
    .nav{
      left: 0;height: 100%;position: absolute;float: left;
  text-align: center;
  width: 20%;
  background-color: #333333;
    display: inline-block;}
    .main{
      width: 80%;background-color: #f4f4f4;
    position: relative;margin-left: 20%;display: inline-block;padding-bottom: 60px;}
    .thumb{
position: relative;border-radius: 8px;width: 20rem;;
      height: auto;
      box-shadow: 4px 7px 5px 0px rgba(0,0,0,0.13);
      background-color: #fff;
    float: left;margin-left: 20px;}
    .thumb-header{
      
    padding: 6px 10px;position: relative;}

    .thumb-img{
      width: 100%;
      height: auto;

    border-radius: 8px 8px 0 0;position: relative;}

    .thumb-body{

    padding: 6px 10px;position: relative;}

    .thumb-title{

    padding: 0;margin: 0;font-size: 20px;font-weight: bold;}

    .thumb-footer{
    padding: 6px 10px;
  text-align: right;height: auto;position: relative;background-color: #f4f4f4;border-top: 1px solid #ccc;min-height: 34px;}
  
    .thumb-footer a:hover {
    border: 1px solid brown;
    color: #fff;
    box-shadow: 0px 0px 20px brown, 0px 0px 15px brown inset;
    text-shadow: 0px 0px 10px brown, 0px 0px 3px;
}
  .thumb-footer a{
    color: #fff;background: purple;border-radius: 6rem;
    }

    .btn {
      padding-right: 20px;
    text-decoration: none;font-size: .75rem;padding: 0.25rem 1rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}